In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
columns_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [4]:
df = pd.read_csv('u.data', sep='\t', names=columns_names)

In [8]:
movie_titles = pd.read_csv('Movie_Id_Titles')

In [9]:
df = pd.merge(df,movie_titles, on='item_id')

In [16]:
df.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Star Wars (1977)             583
Contact (1997)               509
Fargo (1996)                 508
Return of the Jedi (1983)    507
Liar Liar (1997)             485
Name: rating, dtype: int64

In [17]:
rating = pd.DataFrame(df.groupby('title')['rating'].mean())

In [18]:
rating.head()

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [19]:
rating['num of ratings'] = pd.DataFrame(df.groupby('title')['rating'].count())

In [20]:
rating.head()

                             rating  num of ratings
title
'Til There Was You (1997)  2.333333               9
1-900 (1994)               2.600000               5
101 Dalmatians (1996)      2.908257             109
12 Angry Men (1957)        4.344000             125
187 (1997)                 3.024390              41

In [21]:
moviemat = df.pivot_table(index='user_id', columns='title', values='rating')

In [24]:
rating.sort_values('num of ratings', ascending=False).head(10)

                                 rating  num of ratings
title
Star Wars (1977)               4.358491             583
Contact (1997)                 3.803536             509
Fargo (1996)                   4.155512             508
Return of the Jedi (1983)      4.007890             507
Liar Liar (1997)               3.156701             485
English Patient, The (1996)    3.656965             481
Scream (1996)                  3.441423             478
Toy Story (1995)               3.878319             452
Air Force One (1997)           3.631090             431
Independence Day (ID4) (1996)  3.438228             429

In [26]:
starwars_user_ratings = moviemat['Star Wars (1977)']
liarliar_user_ratings = moviemat['Liar Liar (1997)']

In [27]:
similar_to_starwars = moviemat.corrwith(starwars_user_ratings)
similar_to_liarliar = moviemat.corrwith(liarliar_user_ratings)

In [28]:
corr_starwars = pd.DataFrame(similar_to_starwars, columns=['Correlation'])
corr_starwars.dropna(inplace=True)

In [30]:
corr_starwars = corr_starwars.join(rating['num of ratings'])

In [33]:
corr_liarliar = pd.DataFrame(similar_to_liarliar, columns=['Correlation'])
corr_liarliar.dropna(inplace=True)

In [34]:
corr_liarliar = corr_liarliar.join(rating['num of ratings'])